
body {
  margin: 0;
  background-color: #eee;
  min-width: 1600px;
  .about_us,.comment,.faq,.home,.vueframe{
    margin-top: 60px;
  }
  .el-breadcrumb{
    margin: 20px 0;
    font-size: 16px;
  }
  .topMenu{
    position: fixed;
    z-index: 999;
    width: 100%;
    top:0;
    .el-menu {
      padding-left: 30%;
      .el-menu-item {
        display: inline-block;
        font-size: 18px;
        margin: 0 30px;
        text-align: center;
        &:hover{
          background-color: transparent !important;
        }
      }
    }
  }
  .logo{
   position: absolute;
   top: 20px;
   left: 20%;
   z-index: 999;
   font:{
     size: 20px;
     weight:600;
   }
  }
  .login{
    position: absolute;
    top: 16px;
    right: 20%;
      button{
        display: inline-block;
        background-color: cornflowerblue;
        padding: 5px 10px;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 20px;
      }
  }
  .search {
    right: 15%;
    .search_input {
      position: absolute;
      top: -10px;
      right: 100%;
      width: 150px;
      .el-input input {
		border-radius: 0;
		font-size: 16px;
        border: {
          left: 0;
          right: 0;
          top: 0;
          bottom: 1px solid #ccc;
        }
      }
    }
  }
  .home .banner .el-carousel__container {
    height: 500px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .case_content {
	.el-col{
   padding: 0 10px;
   margin-bottom: 20px;
	}
    .time {
      font-size: 13px;
      color: #999;
    }
    .bottom {
      margin-top: 13px;
      line-height: 12px;
    }
    .button {
      padding: 0;
      float: right;
    }
    .image {
      width: 100%;
      display: block;
    }
    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both;
    }
  }
  //文章列表
  .artice_left{
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 20px;
    &:hover{
      box-shadow: 1px 3px 2px #ccc;
      border-radius: 4px;
      transition: .3;
    }
    .left_col{
        img{
           width: 100%;
           height: 100%;
        }
    }
    .right_col{
      overflow: hidden;
      // padding-left: 20px;
      h3{
        margin-top: 0;
      }
    }
  }
  .contact {
    margin-bottom: 20px;
    ul{
      margin: 0;
      padding:  20px 30px;
      background-color: #fff;
      li{
        margin-bottom: 20px;
        img{
           vertical-align: top;
        }
      }
    }
    
  }
  .footer_bottom{
    background-color: #ffffff;
    margin: 20px 0 0;
    border-radius: 4px;
    padding:20px  40px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    position: fixed;
    bottom: -65px;
    width:100%;  
    ul li{
      padding: 10px;
    }
    p{
      text-align: center;
    }
  }
  h3{
    margin: 0;
    font-weight: 500;
  }
  ul {
    li{
      list-style: none
    }
  }
  [v-cloak]{
    display: none
}
.list{
  background-color: #fff;
  width: 90%;
  overflow: hidden;
}
}

