.faq {
  .faq_content {
    .faq_ul li {
        width: 100%;
        position: relative;
        &::before{
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 20px 22px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            left: 140px;
            top: 42px;
        }
        &::after{
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            left: 160px;
            top: 38px;
            background: #ccccce;
            border: 2px solid #fff;
            transition: all .5s;
        }
      div {
        display: inline-block;
        img {
          display: block;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          &:hover{
              opacity: 0.8;
          }
        }
      }
      .left {
        width: 75px;
        height: 130px;
        opacity: 0.7;
      }
      .right {
        width: 750pt;
        height: 75pt;
        background: #f8f8f8;
        display: block;
        border-radius: 5px;
        border: 1px solid #e2dfdf;
        font-size: 14px;
        color: #10200a;
        clear: both;
        padding: 5px 10px;
        &:hover{
            background-color:rgb(247, 244, 244);
        }
        p{
            margin-bottom: 5px;
        }
        .date_time{
            display: block;
            width: 85px;
            height: 25px;
            line-height: 25px;
            background: #ee5a5a;
            border-radius: 3px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            float: right;
        }
      }
    }
  }
}
